<div class="row">
  <div class="span12">
    <h1>Users <small>Select user to chat :)</small></h1>
  </div>
</div>
<hr />
<div class="row">
  <div class="span12">
    <strong>
    <% @users.each do |user| %>
      <% if !user_signed_in? or current_user.id != user.id %>
        <i class="icon-user"></i><%= link_to user.email, private_path(user) %>&nbsp;&nbsp;
      <% end%>
    <% end %>
    </strong>
  </div>
</div>
